
header{
    width: 85%;
    margin: 0 auto;
}
.my-pic{
    position: absolute;
    bottom: 5%;
    right: 10%;
    outline: none;
}

/* Navigation */
nav{
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 1.4rem;
}

nav li:hover a{
    display: inline-block;
    transform:scale(1.2);
    z-index:2;
    color: var(--tetiary2Color);
    transition: .3s ease-in-out;
}

/* nav li a{
    color: var(--tetiaryColor);
} */

.active{
    color: var(--secondaryColor);
}

/* Header content */
.heading{
    /* background-color: aqua; */
    width: fit-content;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translatey(-50%);
}

.heading p{
    padding-left: 4rem;
}

.heading span{
    color: var(--secondaryColor);
}

/* Head footer */

.socials-container{
    position: absolute;
    bottom: 2%;
    left: 3rem;
    width: 25%;
    color: var(--tetiaryColor);
}

.social-links{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 800;
}


/* Media Queries */

@media screen and (max-width:1510px){
    .my-pic{
        position: absolute;
        bottom: 5%;
        right: -10%;
    }
}

@media screen and (max-width:1410px){
    .socials-container{
        width: 28%;
        
    }
}

@media screen and (max-width:1170px){
    .my-pic{
        height: 40%;
    }

    nav ul{
        display: flex;
        width: 80%;
        font-size: 1.4rem;
    }
    .socials-container{
        width: 35%;
        
    }
    .logo{
        width: 20%;
    }
}

@media screen and (max-width:924px){
    .my-pic{
        height: 30%;
        right: 10%;
    }
    .heading{
        font-size: 2rem;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    nav ul{
        width: 85%;
    }
    .socials-container{
        width: 45%;
        
    }
}

@media screen and (max-width:916px){
    .my-pic{
        height: 30%;
        right: 10%;
    }
    .heading{
        font-size: 2rem;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    nav li{
        font-size: 1.2rem;
        margin: 0 1rem;
    }
    nav ul{
        width: 85%;
    }
    
    .socials-container{
        width: 50%;
        
    }
    .logo{
        width: 45%;
    }
}

@media screen and (max-width:425px){
   nav{
       width: 120%;
   }
   
    nav ul{
        /* display: none; */
        flex-direction: column;
        position: absolute;
        top: 14%;
        left: 140%;
        background-color: var(--primaryColor);
        z-index: 5;
        border: .1rem solid;
        width: fit-content;
        height: 20%;
        padding: 1rem 0 ;


    }

    nav li:hover a{
        color: var(--secondaryColor);
    }
    .humberger{
        display: flex;
        /* background-color: aqua; */   
    }

    .active2{
        left: 70%;
        transition: .3s ease-in-out;

    }
    .heading{
        font-size: 1.2rem;
        
    }
    .my-pic{
        bottom: 15%;
    }

    .socials-container{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    }
}

@media screen and (max-width:280px){
    .heading{
        font-size: 1rem;
        
    }
    .humberger{
    width: 15rem;

    }

    .socials-container{
        position: absolute;
        bottom: 2%;
        left: 52%;
        transform: translateX(-50%);
        width: 120%;
        }
}